@mixin badgeSize($height,$paddingh,$fontSize){
  min-width: $height;
  padding: ($height - $fontSize) / 2 $paddingh;
  font-size: $fontSize;
  &.badge-reverse{
    padding: (($height - $fontSize) / 2) - 1 ($paddingh - 1);
  }
  &.badge-round{
    width: $height;
  }
}
.badge{
  display: inline-block;
  @include badgeSize($badge-height,$badge-paddingh,$badge-font-size);
  color: $gray-darker;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color:white;
  background-color: $gray-lighter;
  position: relative;
  &:empty {
    display: none;
  }
  &.badge-round{
    border-radius:50%;
    padding-left:0;
    padding-right:0;
    overflow: hidden;
  }
  &.badge-radius{
    border-radius: $badge-border-radius;
  }
  &.badge-pill{
    border-radius:500px;
  }
  &.badge-round.badge-reverse{
    padding-left:0;
    padding-right:0;
  }
  &.badge-flag{
    &:before{
      content: '';
      display: block;
      position: absolute;
      left: 6px;
      bottom: -6px;
      height: 0;
      width: 0;
      border: 6px solid transparent;
      transform: rotate(135deg);
      margin-left: -3px;
    }
  }
  &.badge-reverse.badge-flag,&.badge-round.badge-flag,&.badge-radius.badge-flag{
    &:before{
      display: none;
    }
  }
  @each $colorName,$colorValue in $base-color-list{
      &#{&-#{$colorName}}{
        background-color:$colorValue;
      }
      &#{&}-flag#{&-#{$colorName}}{
        &:before{
          border-right-color: darken($colorValue,10%);
        }
      }
      &#{&}-reverse#{&-#{$colorName}}{
        background-color:white;
        border:1px solid map-get($font-color-list,#{$colorName});
        color:map-get($font-color-list,#{$colorName});
      }
  }
}
.badge-group{
  @include clearfix();
  .badge{
    float:left;
  }
  .badge-reverse{
    margin-left:-1px;
    &.badge-round{
      margin-left:initial;
    }
  }
}

