input,select,textarea {
    // font-family: 'Helvetica Neue',Helvetica,sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    &:focus{
        -webkit-tap-highlight-color: transparent;
        -webkit-tap-highlight-color: transparent;
    }
}
textarea {
    height: auto;
    resize: none;
    -webkit-user-modify: read-write-plaintext-only;
}
select{
    &[multiple],
    &[size] {
      height: auto;
    }
    &:focus {
        -webkit-user-modify: read-only
    }
}
input{
    &[type="file"],
    &[type="radio"],
    &[type="checkbox"] {
        &:focus{@include tab-focus;}
    }
    @at-root .form textarea,.form select,
    &[type=color],
    &[type=date],
    &[type=datetime-local],
    &[type=datetime],
    &[type=email],
    &[type=month],
    &[type=number],
    &[type=password],
    &[type=search],
    &[type=tel],
    &[type=text],
    &[type=time],
    &[type=url],
    &[type=week]{
        -webkit-user-select: text;
        outline: 0;
        -webkit-appearance: none
    }
}
.form{
    input{
        &[type=search] {
            text-align: center;
            &:focus {
                text-align: left
            }
        };
        @at-root .form textarea,.form select,
        &[type=color],
        &[type=date],
        &[type=datetime-local],
        &[type=datetime],
        &[type=email],
        &[type=month],
        &[type=number],
        &[type=password],
        &[type=search],
        &[type=tel],
        &[type=text],
        &[type=time],
        &[type=url],
        &[type=week]{
            width: 100%;
            padding: ($form-height-base - $form-font-lineHeight - 2) / 2 $padding-base-horizontal;
            font-size: $form-font-size;
            line-height:$form-font-lineHeight;
            background-color: #fff;
            border: 1px solid $gray-lighter;
            &:focus{
                border-color: $form-color-base;
                outline: 0;
            }
            &.form-radius{
                border-radius: $form-border-radius-base;
            }
            &:disabled{
                background-color:$gray-lighter;
            }
            &.input-reverse{
                border-color:transparent;
                background-color:transparent;
                border-bottom-color:$gray-lighter;
            }
            &.input-transparent{
                border-color:transparent !important;
                background-color:transparent !important;
            }
        }
        &[type=checkbox],&[type=radio]{
            display: inline-block;
            width: $from-control-size;
            height: $from-control-size;
            border: 0;
            outline: 0!important;
            background-color: transparent;
            -webkit-appearance: none;
            &:before{
                font-family: icomoon;
                font-size: $from-control-size;
                font-weight: 400;
                line-height: 1;
                text-decoration: none;
                color: $gray-light;
                border-radius: 0;
                background: 0 0;
                -webkit-font-smoothing: antialiased;
                display:block;
                @include translateY(($from-control-size - 20) );

            }
            &:disabled:before{
                color:$gray-lighter;
            }
            &:checked:before{
                color:$form-color-base;
            }
        }
        &[type=radio]{
            &:before{content: '\e940'}
            &:checked:before{content: '\e93b'; }
            &.input-reverse:checked:before{content:'\e93c';}
        };
        &[type=checkbox]{
            &:before{content: '\e940'}
            &:checked:before{content: '\e943'; }
            &.input-reverse:checked:before{content:'\e944';}
        }
    }
    label{
        line-height:$form-height-base;
    }
    .input-reset,.input-changeType{
        position: absolute;
        top:0;
        bottom:0;
        right:$container_padding;
        width:$form-height-base;
        display:none;
        -webkit-user-modify: read-write-plaintext-only;
        text-align:center;
        &:before{
            font-family: icomoon;
            font-size:$form-height-base / 2;
            color:$gray-light;
            line-height:$form-height-base;
        }
    }
    .input-reset:before{
        content:'\e946';
    }
    .input-changeType:before{
        content:'\e919';
    }
    input:not([type=password])~.input-changeType:before{
        color:$form-color-base;
    }
    @each $colorName,$colorValue in $font-color-list{
        &.form-#{$colorName}{
            input{
                &:focus{
                    border-color:$colorValue;
                }
                &.input-reverse:focus{
                    border-color:transparent;
                    border-bottom-color:$colorValue;
                }
                &:checked:before{
                    color:$colorValue;
                }
            }
        }
    }
}
