@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?jwqnso');
  src:url('../fonts/icomoon.eot?jwqnso#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?jwqnso') format('truetype'),
  url('../fonts/icomoon.woff?jwqnso') format('woff'),
  url('../fonts/icomoon.svg?jwqnso#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yigouda:before {
    content: "\e970";
}
.icon-weixinfill:before {
    content: "\e96e";
}
.icon-weixin:before {
    content: "\e96f";
}
.icon-review:before {
    content: "\e96d";
}
.icon-jiahaoyou:before {
    content: "\e96a";
}
.icon-pinglun:before {
    content: "\e96b";
}
.icon-xianhua:before {
    content: "\e96c";
}
.icon-apps:before {
    content: "\e900";
}
.icon-attention:before {
    content: "\e901";
}
.icon-attentionfill:before {
    content: "\e902";
}
.icon-baby:before {
    content: "\e903";
}
.icon-back:before {
    content: "\e904";
}
.icon-camera2:before {
    content: "\e905";
}
.icon-camera:before {
    content: "\e906";
}
.icon-camerafill:before {
    content: "\e907";
}
.icon-cart:before {
    content: "\e908";
}
.icon-cartfill:before {
    content: "\e909";
}
.icon-category:before {
    content: "\e90a";
}
.icon-check:before {
    content: "\e90b";
}
.icon-clear:before {
    content: "\e90c";
}
.icon-close:before {
    content: "\e90d";
}
.icon-comment:before {
    content: "\e90e";
}
.icon-commentfill:before {
    content: "\e90f";
}
.icon-coupon:before {
    content: "\e910";
}
.icon-current:before {
    content: "\e911";
}
.icon-delete:before {
    content: "\e912";
}
.icon-deletefill:before {
    content: "\e913";
}
.icon-diamond:before {
    content: "\e914";
}
.icon-discount:before {
    content: "\e915";
}
.icon-doubleCircle:before {
    content: "\e916";
}
.icon-drink:before {
    content: "\e917";
}
.icon-duihuanjifen:before {
    content: "\e918";
}
.icon-fold:before {
    content: "\e919";
}
.icon-forward:before {
    content: "\e91a";
}
.icon-forwardfill:before {
    content: "\e91b";
}
.icon-gift:before {
    content: "\e91c";
}
.icon-guide:before {
    content: "\e91d";
}
.icon-index:before {
    content: "\e91e";
}
.icon-info:before {
    content: "\e91f";
}
.icon-infofill:before {
    content: "\e920";
}
.icon-jiatingyongpin:before {
    content: "\e921";
}
.icon-liangyoutiaoliao:before {
    content: "\e922";
}
.icon-link:before {
    content: "\e923";
}
.icon-locate:before {
    content: "\e924";
}
.icon-location:before {
    content: "\e925";
}
.icon-locationfill:before {
    content: "\e926";
}
.icon-love:before {
    content: "\e927";
}
.icon-mark:before {
    content: "\e928";
}
.icon-market:before {
    content: "\e929";
}
.icon-markfill:before {
    content: "\e92a";
}
.icon-member:before {
    content: "\e92b";
}
.icon-more:before {
    content: "\e92c";
}
.icon-moreandroid:before {
    content: "\e92d";
}
.icon-my:before {
    content: "\e92e";
}
.icon-newPageGo:before {
    content: "\e92f";
}
.icon-paint:before {
    content: "\e930";
}
.icon-paintfill:before {
    content: "\e931";
}
.icon-pd_clock:before {
    content: "\e932";
}
.icon-pd_crown:before {
    content: "\e933";
}
.icon-pd_question:before {
    content: "\e934";
}
.icon-pd_user:before {
    content: "\e935";
}
.icon-personalCare:before {
    content: "\e936";
}
.icon-phone:before {
    content: "\e937";
}
.icon-pic:before {
    content: "\e938";
}
.icon-picfill:before {
    content: "\e939";
}
.icon-plane:before {
    content: "\e93a";
}
.icon-position:before {
    content: "\e93b";
}
.icon-pulldown:before {
    content: "\e93c";
}
.icon-pullleft:before {
    content: "\e93d";
}
.icon-pullright:before {
    content: "\e93e";
}
.icon-pullup:before {
    content: "\e93f";
}
.icon-qcode:before {
    content: "\e940";
}
.icon-question2:before {
    content: "\e941";
}
.icon-question:before {
    content: "\e942";
}
.icon-questionfill:before {
    content: "\e943";
}
.icon-radiobox:before {
    content: "\e944";
}
.icon-radioboxfill:before {
    content: "\e945";
}
.icon-refresh:before {
    content: "\e946";
}
.icon-refresharrow:before {
    content: "\e947";
}
.icon-right2:before {
    content: "\e948";
}
.icon-right:before {
    content: "\e949";
}
.icon-round:before {
    content: "\e94a";
}
.icon-roundadd:before {
    content: "\e94b";
}
.icon-roundaddfill:before {
    content: "\e94c";
}
.icon-roundcheck:before {
    content: "\e94d";
}
.icon-roundcheckfill:before {
    content: "\e94e";
}
.icon-roundclose:before {
    content: "\e94f";
}
.icon-roundclosefill:before {
    content: "\e950";
}
.icon-rounddown:before {
    content: "\e951";
}
.icon-roundright:before {
    content: "\e952";
}
.icon-roundrightfill:before {
    content: "\e953";
}
.icon-search:before {
    content: "\e954";
}
.icon-shopping:before {
    content: "\e955";
}
.icon-sign:before {
    content: "\e956";
}
.icon-signed:before {
    content: "\e957";
}
.icon-square:before {
    content: "\e958";
}
.icon-squarecheck:before {
    content: "\e959";
}
.icon-squarecheckfill:before {
    content: "\e95a";
}
.icon-store:before {
    content: "\e95b";
}
.icon-supermarket:before {
    content: "\e95c";
}
.icon-text:before {
    content: "\e95d";
}
.icon-time:before {
    content: "\e95e";
}
.icon-timefill:before {
    content: "\e95f";
}
.icon-tuihuo:before {
    content: "\e960";
}
.icon-unfold:before {
    content: "\e961";
}
.icon-unsign:before {
    content: "\e962";
}
.icon-upload:before {
    content: "\e963";
}
.icon-voice:before {
    content: "\e964";
}
.icon-voicefill:before {
    content: "\e965";
}
.icon-wang:before {
    content: "\e966";
}
.icon-wangfill:before {
    content: "\e967";
}
.icon-wrong:before {
    content: "\e968";
}
.icon-xiuxianFood:before {
    content: "\e969";
}
