@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;
  
  &:focus,
  &.focus {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 25%);
  }
  // &:hover {
  //   color: $color;
  //   background-color: darken($background, 10%);
  //       border-color: darken($border, 12%);
  // }
  // &:active,
  // &.active,
  // {
  //   color: $color;
  //   background-color: darken($background, 10%);
  //       border-color: darken($border, 12%);

  //   &:hover,
  //   &:focus,
  //   &.focus {
  //     color: $color;
  //     background-color: darken($background, 17%);
  //         border-color: darken($border, 25%);
  //   }
  // }
  // &:active,
  // &.active,
  // {
  //   background-image: none;
  // }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $background;
          border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}
@mixin button-size($height, $padding-horizontal, $font-size) {
  padding: ($height - $btn-font-lineHeight - 2) / 2 $padding-horizontal;
  font-size: $font-size;
  .badge{
    position: relative;
    top:-2px;
  }
}
.btn {
  display: inline-block;
  margin-bottom: 0; 
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; 
  border: 1px solid transparent;
  white-space: nowrap;
  line-height:$btn-font-lineHeight;
  @include button-variant($gray-dark, $gray-lighter, $gray-light);
  @include button-size($btn-height-base, $padding-base-horizontal, $btn-font-size);
  @include user-select(none);
  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus;
    }
  }
  &.btn-radius{
    border-radius: $btn-border-radius-base;
  }
  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    // @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    @include opacity(.65);
    @include box-shadow(none);
  }
}
.btn.btn-small{
  @include button-size(32px,16px,14px)
}
a.btn {
  &.disabled,
  fieldset[disabled] & {
    pointer-events: none; 
  }
}
@each $colorName,$colorValue in $base-color-list{
  .btn-#{$colorName}{
    @include button-variant(white, $colorValue, $colorValue);
    &.btn-reverse{
      @include button-variant(map-get($font-color-list,#{$colorName}), white, $colorValue);
    }
  }
}

.btn-link {
  color: $link-color;
  font-weight: normal;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: none;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}

.btn-block {
  display: block;
  // width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
//btn-group
.btn-group{
  padding-left:1px;
  @include clearfix();
  .btn{
    position: relative;
    float: left;
    margin-left:-1px;
    &.btn-radius{
      border-radius:0;
      &:first-child{
        border-radius: $btn-border-radius-base 0 0 $btn-border-radius-base;
      }
      &:last-child{
        border-radius: 0 $btn-border-radius-base  $btn-border-radius-base 0;
      }
    }
  }
}
