*,*:before,*:after{
  box-sizing: border-box;
}
blockquote,  dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, pre, td, textarea, th, ul{margin:0;padding:0;list-style:none;}
/**
 * grid
 */
%container{
	position: relative;
    @include clearfix;
}
%grid_item{
	float:left;
	position: relative;
    min-height: 1px;
}
%grid_space{
    padding-right: $container_padding;
    padding-left: $container_padding;
}
.container{
	@extend %container;
	@extend %grid_space;
	max-width:$container_width;
    width:100%;
    margin-right: auto;
    margin-left: auto;
}
.row{
	@extend %container;
	margin-left:$container_padding* -1;
	margin-right:$container_padding* -1;
}
@for $i from 1 through 15{
	@if($i<13){
		.span#{$i}{
			@extend .box-span#{$i};
			@extend %grid_space;
		}
	}
	.col#{$i}{
		@extend .box-col#{$i};
		@extend %grid_space;
	}
}
.box-container{
	@extend %container;
	width:100%;
    margin-right: auto;
    margin-left: auto;
}
.box-row{
	@extend %container
}
@for $i from 1 through 15{
	@if($i<13){
		.box-span#{$i}{
			width:$i / 12 * 100%;
			@extend %grid_item;
		}
	}
	.box-col#{$i}{
		width:$i /15 *100%;
		@extend %grid_item;
	}
}
.img-container{
	@extend .flex-container;
    overflow: hidden;
    img{
    	max-height: 100%;
    	max-width: 100%;
    }
    &.full{
    	img{
    		width:100%;
    		height:100%;
    	}
    }
    &.radius{
    	border-radius:$border-radius-base;
    }
    &.round{
    	border-radius:$container_width;
    }
    &.border{
    	border:1px solid $border-color-default;
    }
}
.flex-container{
	@include display-flex();
	@include align-items();
	@include justify-content();
	&.round{@include justify-content(space-around); }
	&.center{@include justify-content(center); }
	&.left{@include justify-content(flex-start); }
	&.right{@include justify-content(flex-end); }
	&.top{@include align-items(flex-start) }
	&.line{@include align-items(baseline) }
	&.bottom{@include align-items(flex-end) }
	&.vfull{@include align-items(stretch) }
	&.hfull{&>*{@include flex(); } }
	&.leftCenter{@include justify-content(flex-start);}
	&.leftTop{@include justify-content(flex-start);@include align-items(flex-start);}
	&.leftBottom{@include justify-content(flex-start);@include align-items(flex-end)}
	&.leftLine{@include justify-content(flex-start);@include align-items(baseline);}
	&.rightCenter{@include justify-content(flex-end);}
	&.rightTop{@include justify-content(flex-end);@include align-items(flex-start);}
	&.rightBottom{@include justify-content(flex-end);@include align-items(flex-end);}
	&.rightLine{@include justify-content(flex-end);@include align-items(baseline);}
	&.topRound{@include justify-content(space-around);@include align-items(flex-start);}
	&.bottomRound{@include justify-content(space-around);@include align-items(flex-end);}
}
.flex-container-col{
	@extend .flex-container;
	@include flex-direction();
	&.round{@include justify-content(space-around); }
	&.center{@include justify-content(center); }
	&.left{@include align-items(flex-start); }
	&.right{@include align-items(flex-end); }
	&.top{@include justify-content(flex-start); }
	&.bottom{@include justify-content(flex-end); }
	&.vfull{&>*{@include flex(); } }
	&.hfull{@include align-items(stretch) }
	&.leftCenter{@include align-items(flex-start);@include justify-content(center);}
	&.leftTop{@include align-items(flex-start);@include justify-content(flex-start);}
	&.leftBottom{@include align-items(flex-start);@include justify-content(flex-end);}
	&.rightCenter{@include align-items(flex-end);@include justify-content(center);}
	&.rightTop{@include align-items(flex-end);@include justify-content(flex-start);}
	&.rightBottom{@include align-items(flex-end);@include justify-content(flex-end);}
	&>span{
		display:block;
	}
}
@for $i from 1 through 5{
	.flex-grow#{$i}{flex-grow:$i}
	.flex#{$i}{flex:$i}
}
@for $i from 0 through 20{
	.flex-basis#{$i * 5}{flex-basis:($i * 5) * 1%}
}
/**
 * ratio container
 */
%ratioStyle{
	position: relative;
	&:before{
		content:"";
		display:block;
		height:0;
		font-size: 0;
	}
	>*{
		position: absolute;
		top:0;
		left:0;
		bottom:0;
		right:0;
		font:initial;
		color:initial;
		overflow: hidden;
	}
	>img{
		width:100%;
		height:100%;
	}
	@include hide-text();
	&.ratio-container-col2{z-index: 9;>*{bottom:-100%}}
	&.ratio-container-span2{z-index: 9;>*{right:-100%}}
	&.ratio-container-col3{z-index: 9;>*{bottom:-200%}}
	&.ratio-container-span3{z-index: 9;>*{right:-200%}}
	&.ratio-container-col4{z-index: 9;>*{bottom:-300%}}
	&.ratio-container-span4{z-index: 9;>*{right:-300%}}
}
.ratio-container{
	@extend %ratioStyle;
	&:before{
		padding-top:100%;
	}
}
@for $i from 1 through 5{
	@for $k from 1 through 5{
		@if($i != $k){
			.ratio-container-#{$i}x#{$k}{
				@extend %ratioStyle;
				&:before{
					padding-top:$k/$i *100%;
				}
			}
		}
	}
}
/**
 * margin and padding
 */
// @for $i from 0 through 6{
// 	.margin#{$i * 5}{margin:#{$i * 5px}}
// 	.margint#{$i * 5}{margin-top:#{$i * 5px}}
// 	.marginb#{$i * 5}{margin-bottom:#{$i * 5px}}
// 	.marginl#{$i * 5}{margin-left:#{$i * 5px}}
// 	.marginr#{$i * 5}{margin-right:#{$i * 5px}}
// 	.margint-n#{$i * 5}{margin-top:#{$i * -1 * 5px}}
// 	.marginb-n#{$i * 5}{margin-bottom:#{$i * -1 * 5px}}
// 	.marginl-n#{$i * 5}{margin-left:#{$i * -1 * 5px}}
// 	.marginr-n#{$i * 5}{margin-right:#{$i * -1 * 5px}}
// 	.marginh#{$i * 5}{margin-left:#{$i * 5px};margin-right:#{$i * 5px}}
// 	.marginv#{$i * 5}{margin-top:#{$i * 5px};margin-bottom:#{$i * 5px}}	
// 	.padding#{$i * 5}{padding:#{$i * 5px}}
// 	.paddingt#{$i * 5}{padding-top:#{$i * 5px}}
// 	.paddingb#{$i * 5}{padding-bottom:#{$i * 5px}}
// 	.paddingl#{$i * 5}{padding-left:#{$i * 5px}}
// 	.paddingr#{$i * 5}{padding-right:#{$i * 5px}}
// 	.paddingh#{$i * 5}{padding-left:#{$i * 5px};padding-right:#{$i * 5px}}
// 	.paddingv#{$i * 5}{padding-top:#{$i * 5px};padding-bottom:#{$i * 5px}}
// 	.top#{$i * 5}{top:#{$i * 5px}}
// 	.right#{$i * 5}{right:#{$i * 5px}}
// 	.left#{$i * 5}{left:#{$i * 5px}}
// 	.bottom#{$i * 5}{bottom:#{$i * 5px}}
// 	.top-n#{$i * 5}{top:#{$i * -1 * 5px}}
// 	.right-n#{$i * 5}{right:#{$i * -1 * 5px}}
// 	.left-n#{$i * 5}{left:#{$i * -1 * 5px}}
// 	.bottom-n#{$i * 5}{bottom:#{$i * -1 * 5px}}
// }
@for $i from 0 through 5{
	.margin#{$i * 10}{margin:$i / 4 +rem}
	.margint#{$i * 10}{margin-top:$i / 4 +rem}
	.marginb#{$i * 10}{margin-bottom:$i / 4 +rem}
	.marginl#{$i * 10}{margin-left:$i / 4 +rem}
	.marginr#{$i * 10}{margin-right:$i / 4 +rem}
	.margint-n#{$i * 10}{margin-top:$i / -4 +rem}
	.marginb-n#{$i * 10}{margin-bottom:$i / -4 +rem}
	.marginl-n#{$i * 10}{margin-left:$i / -4 +rem}
	.marginr-n#{$i * 10}{margin-right:$i / -4 +rem}
	.marginh#{$i * 10}{@extend .marginl#{$i * 10};@extend .marginr#{$i * 10}}
	.marginv#{$i * 10}{@extend .margint#{$i * 10};@extend .marginb#{$i * 10}}	
	.padding#{$i * 10}{padding:$i / 4 +rem}
	.paddingt#{$i * 10}{padding-top:$i / 4 +rem}
	.paddingb#{$i * 10}{padding-bottom:$i / 4 +rem}
	.paddingl#{$i * 10}{padding-left:$i / 4 +rem}
	.paddingr#{$i * 10}{padding-right:$i / 4 +rem}
	.paddingh#{$i * 10}{@extend .paddingl#{$i * 10};@extend .paddingr#{$i * 10}}
	.paddingv#{$i * 10}{@extend .paddingt#{$i * 10};@extend .paddingb#{$i * 10}}
	.top#{$i * 10}{top:$i / 4 +rem}
	.right#{$i * 10}{right:$i / 4 +rem}
	.left#{$i * 10}{left:$i / 4 +rem}
	.bottom#{$i * 10}{bottom:#{$i * 5px}}
	.top-n#{$i * 10}{top:$i / -4 +rem}
	.right-n#{$i * 10}{right:$i / -4 +rem}
	.left-n#{$i * 10}{left:$i / -4 +rem}
	.bottom-n#{$i * 10}{bottom:$i / -4 +rem}
}
.float-right{float:right}
.float-left{float:left}
.pos-r{position: relative}
.pos-a{position: absolute}
.pos-f{position: fixed}
.vcenter{top:50%;@include translateY(-50%)}
.hcenter{left:50%;@include translateX(-50%)}
.clearfix{@include clearfix();}
.fixed-bottom{
	@extend .pos-f;
	bottom:0;
	left:0;
	right:0;
}
.fixed-top{
	@extend .pos-f;
	top:0;
	left:0;
	right:0;
}
.fixed-full{
	@extend .pos-f;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
.fixed-left{
	@extend .pos-f;
	top:0;
	bottom:0;
	left:0;
}
.fixed-right{
	@extend .pos-f;
	top:0;
	bottom:0;
	right:0;
}